<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/">
    <title>Store</title>
   
        <!--custom css-->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles2.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header class="navbar navbar-bright navbar-fixed-top" role="banner">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
           
          </div>
          <nav class="collapse navbar-collapse" role="navigation">
            
            <ul class="nav navbar-nav">
                 
              <%for(var i=0;i<nav.length;i++){%>
              <li>
                <a href="<%=nav[i].link%>" style="color:#222;"><%=nav[i].title%></a>
              </li>
              <%}%>
            
            </ul>
            
            <ul class="nav navbar-right navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:#222;"><i class="fas fa-user fa-lg"></i></a>
                <ul class="dropdown-menu" style="padding:12px;">
                  <form class="form-inline" >
                    <a href="" style="color:#222;"><i class="fas fa-shopping-cart"></i>Your Cart</a><br>
                    <a href="" style="color:#222;"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Log Out</a>
                  </form>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </header>
      
      <section class="products">
            <div class="section-title">
                <h2><%=products[0].title%></h2>
            </div>
            <div class="products-center">
                <!-- single product-->
                   
        <article class="product">
                <div class="img-container">
                    <img src="/prod/view/<%= products[0].image %>" alt="product" class="product-img">
                    <a href="" class="bag-btn" style="text-decoration: none"> <i class="fas fa-arrow-circle-right"></i>&nbsp;&nbsp;Add to Cart</a>
                </div>
                <h4>$<%=products[0].price%></h4>
            </article>
            
            <!-- end of single product-->
            </div>
            
        </section>
      
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>